body { background: #333 url(../images/tile.gif) repeat; }

#main {
  width: 976px;
  margin: 0 auto;
}

.box {

  -webkit-box-shadow: 0 1px 3px #aaa;
  -moz-box-shadow: 0 1px 3px #aaa;
  box-shadow: 0 1px 3px #aaa;
  background-color: white;
  padding: 1em;
}

.txtRight {
  text-align: right;
}

ul.tribbles li { float: left; }
ul.tribbles li h5 { color: #0091E0 ; }

ul.tribbles { list-style-type: none; padding: 0; }

.tribble-img {overflow: hidden; position: relative; }
.tribble-img:hover .tribble-hover{
  opacity: 0.90;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;  
}
.tribble-hover { 
  position: absolute; 
  background: #fff; 
  height: 100%; 
  width: 100%; 
  padding: 8px 8px 0 8px ;
  opacity: 0;
}
.tribble-img a { text-decoration: none; }
.tribble-img a span { display: block; }
.tribble-img span.title { font-size: 1.8em; color: #444; font-weight: 700; }
.tribble-img span.desc { font-size: 1em; color: #444; }
.tribble-img em { font-size: 0.9em; font-weight: 700; color: #666; position: absolute; bottom:18px; font-style: normal; }